<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='scatter.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->



	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>
<body>

	{{> base/header }}

	<main id='content'>
		<div class="logos">
			<p class="asne-logo-text">American Society <span>of</span> News Editors
			</p>
		</div>

		<p class="content-title">How Diverse Are US Newsrooms?
		</p>
		{{> story/swarm }}

	</main>

	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
	<script src='{{path}}assets/scripts/d3.v4.9.1.min.js'></script>
	<script src='bundle.js?version={{timestamp}}'></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</body>
</html>
