.histogram-chart-toggle-size{
  display: flex;
  margin-right: 10px;
  display: none;
}

.histogram-chart-toggle-item{
  margin-right: 10px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  border: 1px solid rgba(127, 125, 156, 0.54);
  color: black;
  cursor: pointer;
  /* border: solid 1px rgba(127, 125, 156, 0.75); */
  padding: 0px 8px;
  /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */
  margin-left: -13px;
  background: white;
  text-align: center;
  line-height: 28px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  height: 28px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                                   supported by Chrome and Opera */
}

.histogram-chart-toggle-type{
  display: flex;
  position: relative;
}

.scatter-circle{
  fill-opacity:.8;
}

.scatter-chart-wrapper-svg{
  display: block;
  overflow: visible;
}

.scatter-chart-wrapper-svg-double-change{
  display: block;
  overflow: visible;
  margin: 0 auto;
}

.scatter-circle-double-axis{
  fill-opacity: .7;
  stroke: #927523;
  stroke-opacity: .5;
  fill: #F3C643;
  stroke-width: 1.5px;
}
.arrow-scatter-chart-wrapper-svg{
  display: block;
  overflow: visible;
}

.arrow-scatter-chart-wrapper-svg-double-change{
  margin: 0 auto;
  display: block;
  overflow: visible;
  margin-bottom: -10px;
}
.arrow-scatter-line{/* fill: none; *//* fill: url(#grad); *//* stroke-width: 5; *//* fill: url(#C-gradient); *//* stroke: none; */}
.arrow-scatter-line-axis{
  shape-rendering:crispEdges;
  stroke: black;
  stroke-width: 1;
}


.maps{width: 910px;display: block;margin-bottom: 200px;}

.states {
  fill: #ececec;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


.maps-chart-wrapper {
    width: 100%;
    position: relative;
}

.arrow-scatter {
    display: block;
    margin-top: 170px;
    position: relative;
}

.maps-chart-svg{
  width:100%;
}


.state {
    fill: #ccc;
}

.map-marker{
  stroke: white;
  stroke-width: .5;
  mix-blend-mode: multiply;
  fill: #ff00cb;
}

.slice-arc{
  stroke: white;
  stroke-width: 1px;
}
.map-arrow-path{fill: none;}
.map-arrow-path-peak{fill: none;}
.news-lab-logo{
  background: url("assets/news_lab_logo.png");
  height: 75px;
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  /* display: none; */
  background-position-x: -30px;
  order: 2;
  background-position-y: -9px;
  padding-top: 1px;
}


.content-title {
    font-size: 42px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 300;
    margin: 0px;
    color: rgba(0, 0, 0, 0.77);
    margin-top: -6px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.5px;
}

body {
    margin: 0px;
    padding: 0px;
    /* height: 1000px; */
    /* overflow: hidden; */
}

p {
    margin: 0px;
}

.chart-title {
    font-size: 13px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 400;
    color: #8a8787;
    /* position: absolute; */
    /* left: 0px; */
    /* right: 0px; */
    /* margin: 0 auto; */
    /* top: 47px; */
    text-align: left;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    display: none;
}

.histogram-chart-toggle-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Atlas Grotesk Web';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 380px;
    margin: 0 auto;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.toggle-selected{
  font-weight: 500;
  background-color: #F5F5F5;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border-color: #adadad;
}


.swarm-circle {
    fill: #ffd62c;
    cursor: pointer;
    cursor: hand;
    stroke: #c1a427;
    stroke-width: 1px;
}

.swarm-average-text {
    font-family: 'Roboto';
    text-anchor: middle;
    font-size: 12px;
    fill: black;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
}

.swarm-average-line {
    stroke: black;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.swarm-average-text-label {
    fill: #888;
    font-size: 10px;
    fill: #2463f9;
    text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.swarm-chart-wrapper {
    margin: 0 auto;
}

.swarm-chart-container {
    margin: 0 auto;
    position: relative;
}

.swarm-axis-line {
    stroke: #C1C1C1;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.swarm-axis-tick {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.swarm-axis-tick-text {
    font-family: 'Roboto';
    text-anchor: middle;
    font-size: 12px;
    dominant-baseline: central;
    font-weight: 500;
}

.swarm-chart-search-div {
    margin: 0 auto;
    justify-content: center;
    height: 30px;
    margin-bottom: 20px;
    width: 250px;
}

.swarm-chart-search {
    box-shadow: inset 2px 3px 3px rgba(0,0,0,0.07);
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px #d0cece solid;
    height: 30px;
    width: 100%;
    padding-left: 9px;
    font-family: 'Roboto';
    display: block;
    font-size: 12px;
}

.swarm-chart-source-text {
    font-family: 'Roboto';
    text-align: right;
    color: rgb(136, 136, 136);
    font-size: 11px;
    font-weight: 400;
}

.swarm-chart-source {
    pointer-events: none;
    order: 2;
}

.swarm-chart-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: capitalize;
    background: white;
    border: 1px solid rgba(193, 193, 193, 0.8);
    padding: 4px 9px;
    z-index: 1000;
    border-radius: 2px;
    text-align: left;
    width: auto;
    padding-right: 1.5rem;
    font-weight: 600;
    color: #353535;
    visibility: hidden;
    min-width: 120px;
}

.swarm-circle:hover {
    /* stroke: rgba(0, 0, 0, 0.69); */
    /* stroke-width: 1.8px; */
}


.swarm-chart-logos {
    position: absolute;
    left: 0px;
    /* display: none; */
    top: 0px;
    pointer-events: none;
    opacity: .6;
}

.swarm-chart-logo {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    left: 50%;
}


.swarm {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
}

.arrow-scatter-chart-wrapper {
    margin: 0 auto;
    position: relative;
}

.slope-mini-multiple-div {
    position: absolute;
    left: 0px;
}

.arrow-scatter-axis-text {
    font-family: 'Roboto';
    font-size: 12px;
    alignment-baseline: middle;
    text-anchor: end;
}

.arrow-scatter-line-text {
    font-family: 'Roboto';
    text-anchor: end;
    font-size: 11px;
    text-transform: capitalize;
    display: none;
}

.arrow-scatter-chart-wrapper-text-div {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    pointer-events: none;
}

.arrow-scatter-line-text-div {
    position: absolute;
}

.arrow-scatter-line-logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-90%);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.arrow-scatter-line-text-average{position: absolute;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translate(-50%,-163%);width: auto;height: auto;background-size: contain;background-repeat: no-repeat;font-family: 'Roboto';text-transform: capitalize;font-size: 13px;}
.arrow-scatter-line-text-average-num-top{transform: translate(-7px,-90%);font-size: 10px;font-weight: 500;}
.arrow-scatter-line-text-average-num-bottom{transform: translate(-7px,-16%);font-size: 10px;font-weight: 500;}


.mini-multiple-text {
    font-family: 'Roboto';
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.86);
}

.mini-multiple-div-container {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.mini-multiple-div {
    margin-bottom: 20px;
    position: absolute;
}

.slope-line {stroke-width: 1.5;}

.slope-line-axis {
    stroke: #cacaca;
    shape-rendering: crispEdges;
    /* stroke-width: 1.4px; */
}

.slope-mini-svg {
    margin: 0 auto;
    display: block;
    overflow: visible;
}

.mini-multiple-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60px;
    margin-bottom: -1px;
    padding-bottom: 10px;
}

.slope-small-text {
    font-size: 11px;
    text-anchor: middle;
    font-family: 'Roboto';
    font-weight: 400;
    text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff;
}

.slope-small-text-bold {
    font-weight: 600;
}

.scatter-chart-wrapper {
    margin: 0 auto;
    position: relative;
}

.scatter{
  margin-top: 110px;
  display: none;
}


.stepper-container {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.stepper-item {
    padding-right: 9px;
    cursor: hand;
    cursor: pointer;
    opacity: .5;
    font-size: 12px;
    font-weight: 600;
}

.stepper-item-selected {
    color: black;
    opacity: 1;
}

.swarm-image {
    pointer-events: none;
    transform: translate(-50%,-50%);
}

.footer {}

.footer-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    /* position: absolute; */
    /* transform: translate(0,100%); */
    /* bottom: -83px; */
    margin-top: 14px;
}

.table-rows .histogram-chart-toggle-wrapper {
    display: none;
}

.slope-chart .histogram-chart-toggle-wrapper {
    display: none;
}

.histogram .histogram-chart-toggle-wrapper {
    display: none;
}

.maps .histogram-chart-toggle-wrapper {
    display: none;
}

.arrow-scatter .histogram-chart-toggle-wrapper {
    display: none;
}

.swarm-leader .histogram-chart-toggle-wrapper {
    display: none;
}

.scatter
 .histogram-chart-toggle-wrapper {
    display: none;
}

.chart-top-section {
    position: relative;
    margin-top: 13px;
    height: auto;
}

.stepper-container-text {
    font-size: 17px;
    font-weight: 300;
    overflow: hidden;
    color: #222;
    display: block;
    line-height: 24px;
    margin-top: 14px;
    text-align: center;
}

.stepper-toggle-row {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.stepper-item-container {
    display: flex;
    margin-left: 10px;
    line-height: 23px;
    position: relative;
}

.stepper-play-text {
    font-size: 12px;
    font-weight: 500;
    color: #222;
    letter-spacing: .2px;
    pointer-events: none;
}

.stepper-play-button {
    border: 1px solid #e2e2e2;
    padding: 3px 8px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    cursor: hand;
    transition: all 300ms;
    padding-bottom: 4px;
}

.stepper-arrow {.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green; }
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #333c45;
    margin-top: 4px;
    margin-right: 7px;
    pointer-events: none;
}

.stepper-item.stepper-item:hover {
    color: #2161fa;
    opacity: 1;
    font-weight: 500;
}

.stepper-play-button:hover{font-weight: 500;background-color: #F5F5F5;color: black;box-shadow: inset 0 3px 5px rgba(0,0,0,.125);border-color: #adadad;}


.swarm-axis-tick-rect {
    fill: white;
}

.swarm-circle-average {
    fill: black;
    stroke: black;
}

.swarm-leader {
    display: none;
}

.swarm-chart-search-results {
    position: absolute;
    width: 248px;
    bottom: 16px;
    background: white;
    z-index: 1000000000;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0,100%);
    display: none;
}

.swarm-chart-search-results-alpha-label {
    font-family: 'Roboto';
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(84, 84, 84, 0.47);
    font-weight: 500;
    display: none;
}

.swarm-chart-search-results-alpha-item-container {
    display: flex;
    /* margin-left: 4px; */
    flex-grow: 1;
    justify-content: space-between;
}

.swarm-chart-search-results-alpha-item {
    font-family: 'Roboto';
    font-size: 10.5px;
    color: rgba(0, 0, 0, 0.64);
    font-weight: 600;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    line-height: 17px;
}

.swarm-chart-search-results-alpha-container {
    display: flex;
    padding-bottom: 7px;
    width: 90%;
    margin: 0 auto;
    display: none;
}

.swarm-chart-search-results-alpha-item:hover {
    text-decoration: underline;
}

.swarm-chart-search-results-result-container {
    /* padding-top: 6px; */
    /* border-top: 1px solid #c1c1c1; */
    height: 100px;
    overflow: scroll;
}

.swarm-chart-search-results-result-text {
    font-size: 13px;
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
    text-transform: capitalize;
    width: 90%;
    margin: 0 auto;
    line-height: 20px;
}

.swarm-chart-search-results-result {
    cursor: hand;
    cursor: pointer;
}

.swarm-chart-search-results-result:hover {
    background: #dadada;
}


.swarm-axis-annotation-text {
    font-family: 'Roboto';
    text-anchor: middle;
    text-transform: capitalize;
    font-size: 11.5px;
    font-weight: 400;
    fill: #555;
    dominant-baseline: middle;
}

.swarm-axis-annotation-line {
    stroke: #ccc;
    shape-rendering: crispEdges;
    stroke-dasharray: 3,2;
}

.histogram-chart-toggle-first:before {
    content: 'Filter';
    font-family: 'Roboto';
    line-height: 27px;
    font-size: 11px;
    /* left: -61px; */
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    color: #989898;
    letter-spacing: .5px;
    top: 2px;
    left: -59px;
}


.histogram-chart-toggle-first {
    margin-right: 10px;
    margin-left: 28px;
}

.histogram {
    display: none;
}

.slope-chart {
    display: none;
}

#newsroom {
    display: none;
}

.line-scatter {
    display: none;
}

.table-rows {
    display: none;
}

.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.asne-logo {
    background-image: url(assets/asne-logo.jpg);
    width: 120px;
    height: 100px;
    height: 65px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 9px;
    /* filter: grayscale(100%); */
    margin-left: 53px;
    position: relative;
    margin-right: 23px;
}

.asne-logo:after {
    content: 'with';
    font-family: 'Roboto';
    font-size: 12px;
    position: absolute;
    right: -31px;
    top: 21px;
}

.swarm-company-name {
    font-family: 'Roboto';
    text-anchor: start;
    font-size: 11.5px;
    text-transform: capitalize;
    font-weight: 500;
    fill: rgba(0, 0, 0, 0.74);
    pointer-events: none;
    opacity: 0;
    dominant-baseline: text-after-edge;
}

.swarm-company-name tspan {
    text-transform: capitalize;
}

.asne-logo-text {
    font-family: 'Roboto';
    font-size: 10.5px;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.37);
    letter-spacing: .3px;
}

.asne-logo-text span {
    text-transform: lowercase;
    font-weight: 500;
}

.news-lab-logo:before {
    content: 'In Partnership';
    font-family: 'Roboto';
    font-size: 11px;
    left: 5px;
    top: 3px;
    position: absolute;
    color: rgb(136, 136, 136);
    font-size: 11px;
    font-weight: 400;
}

.chart-title span {
    /* font-weight: 600; */
}

.stepper-item-hover {
    position: absolute;
    width: 140px;
    background: white;
    top: 45px;
    transform: translateX(calc(-50% + 3px ));
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    font-size: 12px;
    text-align: center;
    padding: .3rem .3rem;
    line-height: 15px;
    font-weight: 400;
    color: #222;
    pointer-events: none;
    visibility: hidden;
    z-index: 100;
}

.stepper-item-hover:after, .stepper-item-hover:before {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.stepper-item-hover:after{
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 9px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.stepper-item-hover:before{
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #b1b1b1;
  border-width: 10px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.stepper-item-hover span{
  font-weight:600;
}


.swarm-annnotation-line {
    stroke: #d8d8d8;
    stroke-width: 5px;
}

.swarm-annnotation-text {
    text-anchor: end;
    transform: translateX(-10px);
    dominant-baseline: middle;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    fill: #b3b3b3;
}

.swarm-scatter-x-axis-lines .swarm-axis-line{
  stroke:rgba(0,0,0,.15);
  stroke-dasharray:1px,2px;
  shape-rendering: initial;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.swarm-scatter-y-axis-lines .swarm-axis-line{
  stroke: rgba(0, 0, 0, 0.36);
  stroke-dasharray:1px,2px;
  /* shape-rendering: initial; */
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: #E6E6E6; */
  stroke: rgba(0, 0, 0, 0.36);
  stroke-dasharray: 1px,2px;
  /* shape-rendering: initial; */
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: #E6E6E6; */
}
.scatter-axis-chart-text{
  font-size: 13px;
  font-weight: 600;
  fill: #333;
  transform: translateY(20px);
  dominant-baseline: text-before-edge;
  /* text-transform: uppercase; */
}


.scatter-axis-chart-regular {
    font-size: 13px;
    font-weight: 400;
}

.scatter-axis-chart-text-side-one {
    font-weight: 400;
}

.scatter-axis-chart-side-one {
    font-weight: 400;
    font-size: 13px;
}

.scatter-axis-chart-side-one:after {
    content: "→";
    position: absolute;
    right: -22px;
    top: -2px;
    content: "←";
    position: absolute;
    left: -22px;
    top: -2px;
}

.scatter-axis-chart-side {
    font-weight: 400;
    font-size: 12px;
    transform: translateY(21px);
}


.swarm-scatter-rect-gender-line {
    stroke: whitesmoke;
    stroke-width: 70px;
}

.scatter-axis-chart-text-y {
    font-weight: 400;
    font-size: 14px;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
    dominant-baseline: middle;
}

.swarm-scatter-regression-line {
    stroke: rgba(253, 204, 0, 0.61);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.swarm-scatter-regression-annotation-text {
    font-family: 'Roboto';
    text-anchor: end;
    font-size: 12px;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
}

.swarm-scatter-regression-annotation-line{
  stroke:black;
}


.swarm-scatter-y-annnotation-text {
    text-anchor: end;
    /* transform: initial; */
}

.swarm-chart-race-col p:last-of-type{
  border-bottom:none;
}

.swarm-chart-tool-tip div:last-of-type{
  border-bottom:none;
}

.swarm-chart-tool-tip-row {
    display: flex;
    justify-content: space-between;
}

.swarm-chart-tool-tip-label{
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.swarm-chart-race-col .swarm-chart-tool-tip-label {
    border-bottom: 1px solid #ccc;
}

.swarm-chart-tool-tip-company {
    margin-bottom: 5px;
}

.swarm-chart-tool-tip-gender {
    font-size: 16px;
}


.swarm-chart-tool-tip-gender span {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
}


.swarm-chart-tool-tip-gender-label {}

.swarm-chart-race-col {width: 65px;}

.swarm-chart-tool-tip-race-container {
    display: flex;
}


.swarm-chart-tool-tip-race-text {
    line-height: 24px;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.swarm-chart-race-col {
}

.swarm-chart-race-col-race-text {
    flex-grow: 1;
}


.swarm-text {
    font-family: 'Roboto';
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 400;
    fill: rgba(0, 0, 0, 0.8);
    transform: translate(-7px,1px);
    dominant-baseline: middle;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
    text-anchor: end;
    pointer-events: none;
    /* fill-opacity: .8; */
}

.swarm-arrow-x-axis-lines .swarm-axis-line{stroke: rgba(0, 0, 0, 0.15);/* stroke-dasharray: 1px,2px; */stroke-linecap: round;stroke-linejoin: round;}
.swarm-arrow-tick-text{
  text-anchor: middle;
  font-family: 'Roboto';
  font-size: 11px;
  transform: translate(0,-13px);
  font-weight: 400;
  font-family: 'Roboto';
  text-anchor: middle;
  font-size: 11px;
  font-weight: 400;
  fill: #9e9e9e;
}


.swarm-circle-two {
    opacity: 0;
    fill: #8e8e8e;
    cursor: pointer;
    cursor: hand;
    stroke: #565656;
    stroke-width: 1px;
}

.swarm-line {
    opacity: 0;
    /* fill: #868686; */
    stroke-width: 1px;
    /* stroke: none; */
    stroke: rgba(167, 167, 167, 0.34);
}

.swarm-arrow-annotation-top-line {
    stroke: rgba(0, 0, 0, 0.46);
    stroke-width: 2px;
    shape-rendering: crispEdges;
    stroke-opacity: .5;
}

.swarm-arrow-annotation-top-text {
    font-size: 13px;
    font-family: 'Roboto';
    fill: black;
    text-anchor: middle;
    font-weight: 400;
    transform: translate(0,-5px);
    letter-spacing: -.3px;
}

.swarm-arrow-annotation-left {
    text-anchor: end;
    font-family: 'Roboto';
    font-size: 11.5px;
    font-weight: 500;
    transform: translate(-16px,-4px);
    /* text-transform: uppercase; */
    fill: #191919;
}

.swarm-text:before {
}

.swarm-text-dash {
    stroke: #4c4c4c;
    /* shape-rendering: crispEdges; */
    stroke-width: 1px;
    opacity: 0;
}