.histogram-chart-toggle-size{
  display: flex;
  margin-right: 10px;
  display: none;
}

.histogram-chart-toggle-item{
  margin-right: 10px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  border: 1px solid rgba(127, 125, 156, 0.54);
  color: black;
  cursor: pointer;
  border: solid 1px rgba(127, 125, 156, 0.75);
  padding: 0px 8px;
  /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */
  margin-left: -13px;
  background: white;
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  height: 25px;
}

.histogram-chart-toggle-type{
  display: flex;
  position: relative;
}

.scatter-circle{
  fill-opacity:.8;
}

.scatter-chart-wrapper-svg{
  display: block;
  overflow: visible;
}

.scatter-chart-wrapper-svg-double-change{
  display: block;
  overflow: visible;
  margin: 0 auto;
}

.scatter-circle-double-axis{
  fill-opacity: .7;
  stroke: #927523;
  stroke-opacity: .5;
  fill: #F3C643;
  stroke-width: 1.5px;
}
.arrow-scatter-chart-wrapper-svg{
  display: block;
  overflow: visible;
}

.arrow-scatter-chart-wrapper-svg-double-change{
  margin: 0 auto;
  display: block;
  overflow: visible;
  margin-bottom: -10px;
}
.arrow-scatter-line{/* fill: none; *//* fill: url(#grad); *//* stroke-width: 5; *//* fill: url(#C-gradient); *//* stroke: none; */}
.arrow-scatter-line-axis{
  shape-rendering:crispEdges;
  stroke: black;
  stroke-width: 1;
}


.maps{width: 910px;display: block;margin-bottom: 200px;}

.states {
  fill: #ececec;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


.maps-chart-wrapper {
    width: 100%;
    position: relative;
}

.arrow-scatter {
    display: block;
    margin-top: 170px;
}

.maps-chart-svg{
  width:100%;
}


.state {
    fill: #ccc;
}

.map-marker{
  stroke: white;
  stroke-width: .5;
  mix-blend-mode: multiply;
  fill: #ff00cb;
}

.slice-arc{
  stroke: white;
  stroke-width: 1px;
}
.map-arrow-path{fill: none;}
.map-arrow-path-peak{fill: none;}
.news-lab-logo{
  background: url("assets/news_lab_logo.png");
  height: 75px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-left: 14px;
  /* display: none; */
  background-position-x: -30px;
  order: 2;
}


.content-title {
    font-size: 47px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 100;
    margin: 0px;
    color: #222;
    margin-top: -10px;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.chart-title {
    font-size: 18px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    color: #222;
    /* position: absolute; */
    /* left: 0px; */
    /* right: 0px; */
    /* margin: 0 auto; */
    /* top: 47px; */
    margin-bottom: 20px;
}

.histogram-chart-toggle-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Atlas Grotesk Web';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.toggle-selected{
  font-weight: 500;
  background-color: #F5F5F5;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border-color: #adadad;
}


.swarm-circle {
    fill: #ffd62c;
    cursor: pointer;
    cursor: hand;
    stroke: #c1a427;
    stroke-width: 1px;
}

.swarm-average-text {
    font-family: 'Roboto';
    text-anchor: middle;
    font-size: 12px;
    fill: black;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
}

.swarm-average-line {
    stroke: black;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.swarm-average-text-label {
    fill: #888;
    font-size: 10px;
    fill: #2463f9;
    text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.swarm-chart-wrapper {
    margin: 0 auto;
}

.swarm-chart-container {
    margin: 0 auto;
    position: relative;
}

.swarm-axis-line {
    stroke: #C1C1C1;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.swarm-axis-tick {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.swarm-axis-tick-text {
    font-family: 'Roboto';
    text-anchor: middle;
    font-size: 12px;
    dominant-baseline: central;
    font-weight: 500;
}

.swarm-chart-search-div {
    margin: 0 auto;
    justify-content: center;
    height: 30px;
    margin-bottom: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 250px;
}

.swarm-chart-search {
    box-shadow: inset 2px 3px 3px rgba(0,0,0,0.07);
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px #e2e2e2 solid;
    height: 30px;
    width: 100%;
    padding-left: 9px;
    font-family: 'Roboto';
    display: block;
}

.swarm-chart-source-text {
    font-family: 'Roboto';
    text-align: right;
    color: rgb(136, 136, 136);
    font-size: 11px;
    font-weight: 400;
}

.swarm-chart-source {
    pointer-events: none;
    order: 2;
}

.swarm-chart-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 13px;
    text-transform: capitalize;
    background: white;
    border: 1px solid rgba(193, 193, 193, 0.53);
    padding: 4px 9px;
    z-index: 1000;
    border-radius: 5px;
    text-align: left;
    width: auto;
    padding-right: 1.5rem;
    font-weight: 500;
    color: #333;
    visibility: hidden;
}

.swarm-circle:hover {
    /* stroke: rgba(0, 0, 0, 0.69); */
    /* stroke-width: 1.8px; */
}


.swarm-chart-logos {
    position: absolute;
    left: 0px;
    /* display: none; */
    top: 0px;
    pointer-events: none;
    opacity: .6;
}

.swarm-chart-logo {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    left: 50%;
}


.swarm {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.arrow-scatter-chart-wrapper {
    margin: 0 auto;
    position: relative;
}

.slope-mini-multiple-div {margin-top: 90px;margin-bottom: 110px;}

.arrow-scatter-axis-text {
    font-family: 'Roboto';
    font-size: 12px;
    alignment-baseline: middle;
    text-anchor: end;
}

.arrow-scatter-line-text {
    font-family: 'Roboto';
    text-anchor: end;
    font-size: 11px;
    text-transform: capitalize;
    display: none;
}

.arrow-scatter-chart-wrapper-text-div {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    pointer-events: none;
}

.arrow-scatter-line-text-div {
    position: absolute;
}

.arrow-scatter-line-logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-90%);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.arrow-scatter-line-text-average{position: absolute;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translate(-50%,-163%);width: auto;height: auto;background-size: contain;background-repeat: no-repeat;font-family: 'Roboto';text-transform: capitalize;font-size: 13px;}
.arrow-scatter-line-text-average-num-top{transform: translate(-7px,-90%);font-size: 10px;font-weight: 500;}
.arrow-scatter-line-text-average-num-bottom{transform: translate(-7px,-16%);font-size: 10px;font-weight: 500;}


.mini-multiple-text {
    font-family: 'Roboto';
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

.mini-multiple-div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mini-multiple-div {
    width: 56px;
    margin-bottom: 20px;
    padding: 0 7px;
}

.slope-line {stroke-width: 1.5;}

.slope-line-axis {
    stroke: #cacaca;
    shape-rendering: crispEdges;
    /* stroke-width: 1.4px; */
}

.slope-mini-svg {
    margin: 0 auto;
    display: block;
    overflow: visible;
}

.mini-multiple-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50px;
    margin-bottom: -1px;
    /* border-bottom: 1px solid #c3c3c3; */
    padding-bottom: 12px;
}

.slope-small-text {
    font-size: 11px;
    text-anchor: middle;
    font-family: 'Roboto';
    font-weight: 400;
}

.slope-small-text-bold {
    font-weight: 600;
}

.scatter-chart-wrapper {
    margin: 0 auto;
    position: relative;
}

.scatter{
  margin-top: 110px;
  display: none;
}


.stepper-container {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}

.stepper-item {
    padding-right: 9px;
    cursor: hand;
    cursor: pointer;
    opacity: .5;
    font-size: 12px;
    font-weight: 600;
}

.stepper-item-selected {
    color: black;
    opacity: 1;
}

.swarm-image {
    pointer-events: none;
    transform: translate(-50%,-50%);
}

.footer {}

.footer-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    position: absolute;
    transform: translate(0,100%);
    top: 100%;
}

.table-rows .histogram-chart-toggle-wrapper {
    display: none;
}

.slope-chart .histogram-chart-toggle-wrapper {
    display: none;
}

.histogram .histogram-chart-toggle-wrapper {
    display: none;
}

.maps .histogram-chart-toggle-wrapper {
    display: none;
}

.arrow-scatter .histogram-chart-toggle-wrapper {
    display: none;
}

.swarm-leader .histogram-chart-toggle-wrapper {
    display: none;
}

.scatter
 .histogram-chart-toggle-wrapper {
    display: none;
}

.chart-top-section {
    position: relative;
    margin-top: 13px;
    height: auto;
}

.stepper-container-text {
    font-size: 13px;
    font-weight: 500;
    height: 49px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.48);
    line-height: 16px;
    display: block;
    width: 100%;
}

.stepper-toggle-row {
    width: 100%;
    display: flex;
    margin-top: 9px;
}

.stepper-item-container {
    display: flex;
    margin-left: 10px;
    line-height: 23px;
}

.stepper-play-text {
    font-size: 12px;
    font-weight: 500;
    color: #222;
    letter-spacing: .3px;
    pointer-events: none;
}

.stepper-play-button {
    border: 1px solid #e2e2e2;
    padding: 3px 8px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    cursor: hand;
    transition: all 300ms;
    padding-bottom: 4px;
}

.stepper-arrow {.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green; }
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #333c45;
    margin-top: 4px;
    margin-right: 7px;
    pointer-events: none;
}

.stepper-item.stepper-item:hover {
    text-decoration: underline;
}

.stepper-play-button:hover{font-weight: 500;background-color: #F5F5F5;color: black;box-shadow: inset 0 3px 5px rgba(0,0,0,.125);border-color: #adadad;}


.swarm-axis-tick-rect {
    fill: white;
}

.swarm-circle-average {
    fill: black;
}

.swarm-leader {
    display: none;
}

.swarm-chart-search-results {
    position: absolute;
    width: 248px;
    bottom: -8px;
    background: white;
    z-index: 1000;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0,100%);
    display: none;
}

.swarm-chart-search-results-alpha-label {
    font-family: 'Roboto';
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(84, 84, 84, 0.47);
    font-weight: 500;
    display: none;
}

.swarm-chart-search-results-alpha-item-container {
    display: flex;
    /* margin-left: 4px; */
    flex-grow: 1;
    justify-content: space-between;
}

.swarm-chart-search-results-alpha-item {
    font-family: 'Roboto';
    font-size: 10.5px;
    color: rgba(0, 0, 0, 0.64);
    font-weight: 500;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    line-height: 17px;
}

.swarm-chart-search-results-alpha-container {
    display: flex;
    padding-bottom: 7px;
    width: 90%;
    margin: 0 auto;
}

.swarm-chart-search-results-alpha-item:hover {
    text-decoration: underline;
}

.swarm-chart-search-results-result-container {
    padding-top: 6px;
    border-top: 1px solid #c1c1c1;
    height: 400px;
    overflow: scroll;
}

.swarm-chart-search-results-result-text {
    font-size: 12.5px;
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.39);
    font-weight: 500;
    text-transform: capitalize;
    width: 90%;
    margin: 0 auto;
    line-height: 20px;
    pointer-events: none;
}

.swarm-chart-search-results-result {
    cursor: hand;
    cursor: pointer;
}

.swarm-chart-search-results-result:hover {
    background: #dadada;
}


.swarm-axis-annotation-text {
    font-family: 'Roboto';
    text-anchor: middle;
    text-transform: capitalize;
    font-size: 11.5px;
    font-weight: 400;
    fill: #555;
    dominant-baseline: middle;
}

.swarm-axis-annotation-line {
    stroke: #ccc;
    shape-rendering: crispEdges;
    stroke-dasharray: 3,2;
}

.histogram-chart-toggle-first:before {
    content: 'Filter';
    font-family: 'Roboto';
    line-height: 27px;
    font-size: 11px;
    /* left: -61px; */
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    color: #989898;
    letter-spacing: .5px;
    top: -25px;
    left: 16px;
}


.histogram-chart-toggle-first {
    margin-right: 10px;
    margin-left: 28px;
}

.histogram {
    display: none;
}

.slope-chart {
    display: none;
}

#newsroom {
    display: none;
}

.line-scatter {
    display: none;
}

.table-rows {
    display: none;
}

.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.asne-logo {
    background-image: url(assets/asne-logo.jpg);
    width: 120px;
    height: 100px;
    height: 65px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 9px;
    /* filter: grayscale(100%); */
    margin-left: 53px;
    position: relative;
    margin-right: 23px;
}

.asne-logo:after {
    content: 'with';
    font-family: 'Roboto';
    font-size: 12px;
    position: absolute;
    right: -31px;
    top: 21px;
}