p
 font-family sans-serif

.histogram
  margin 0 auto
  margin-left 100px
  position relative
  height 500px
  margin-top 100px
  p
    margin 0px

.histogram-year-item
  width 9px
  height 4px
  margin-bottom 1px
  background-color red
  &:hover
    background-color blue

.histogram-chart-toggle-type
  display flex
  .histogram-chart-toggle-item
    font-size 18px
    font-family sans-serif
    margin-right 10px

.histogram-chart-toggle-size
  display flex
  .histogram-chart-toggle-item
    font-size 18px
    font-family sans-serif
    margin-right 10px
    line-height 10px

.histogram-year-container
  display flex
  flex-direction column
  margin-right 1px
  position absolute
  top 0px
  height 400px
  justify-content flex-end
  p
    font-size 12px
    font-family sans-serif
    position absolute
    font-weight 800
    bottom  -26px

.green
  order 1

.red
  order 2

.blue
  order 3

.purple
  order 4
