.histogram
  margin 0 auto
  display flex
  margin-left 100px
  position relative

.histogram-year-item
  width 9px
  height 4px
  margin-bottom 1px
  background-color red
  &:hover
    background-color blue

.histogram-year-container
  display flex
  flex-direction column
  margin-right 1px
  position absolute
  top 0px
  height 400px
  justify-content flex-end

.green
  order 1

.red
  order 2

.blue
  order 3

.purple
  order 4
