.line-scatter
  margin-left 50px
  position relative

.year-container
  margin-top 100px


.line
  height 20px
  position absolute
  width 2px
  background red
  opacity .1
  z-index 0

.line-half
  background black
  width 2px
  height 30px
  opacity 1
  z-index 1
  margin-top -5px

.line-average
  background blue
  width 2px
  height 30px
  opacity 1
  z-index 1
  margin-top -5px

.region-container
  margin-bottom 20px
  height 20px
