.table-rows
  height auto

.table-rows-row
  height 30px
  position relative

.table-rows-row-dot
  width 10px
  height 10px
  position absolute
  top 0px

.table-rows-row-dot-text
  font-size 10px
  font-family 'Atlas Grotesk Web'
  position absolute
  margin 0
  width 100px
  font-weight 500
  top 10px

.table-rows-row-name
  font-family 'Atlas Grotesk Web'
  font-weight 500
  font-size 12px
